#captain-picks-main {
    width: 90%;
    margin: 0 auto;
    border-radius: 6px;
    margin-bottom: 100px;
}

/* TABS START */

#captain-picks-tab-container {
    height: 30px;
    width: 100%;
    display: flex;
}

.captain-picks-tab {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
}

.captain-picks-tab:hover {
    cursor: pointer;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}


/* TABS END */

/* CAPTAIN PICKS START */

.captain-picks-container {
    background-color: white;
    width: 100%;
    background-color: #f0f0f0;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 0 0 15px 15px;
}

/* CAPTAIN PICKS GENERAL START */

#captain-picks-general-title {
    height: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

#captain-picks-general-picks-container {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 60px;
}

.captain-picks-general-captain-pick {
    height: 230px;
    width: 270px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: linear-gradient(#38003c 17%, white 17% 100%);
    border-radius: 8px;
}

.captain-picks-general-captain-pick-title-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-top: 28px;
}

.captain-picks-general-captain-pick-title-container h2 {
    margin-left: 10px;
}

.captain-picks-general-captain-pick-info-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 8px 0;
}

/* CAPTAIN PICKS GENERAL END */

/* CAPTAIN PICKS CUSTOM START */

#captain-picks-custom-insert-team-container {
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;


}

#captain-picks-custom-insert-team-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    height: 220px;
    background-color: white;
    border-radius: 15px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    padding: 0 5px 0 5px;
}

#captain-picks-custom-insert-team-search-results {
    height: 125px;
    width: 95%;
    overflow-y: scroll;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 5px;
}

.captain-picks-custom-insert-team-search-result {
    display: flex;
    align-items: center;
    height: 22px;
    padding-left: 5px;
    border-bottom: 1px solid grey;
}

.add-player-box {
    background-color: #00ff85;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;

}

.add-player-box:hover {
    cursor: pointer;
}

.add-player-box p {
    margin-bottom: 3px;
}

/* ADDED PLAYERS CONTAINER */

#captain-picks-custom-added-players-wrapper {
    width: 74%;
    background-color: white;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

#captain-picks-custom-insert-team-added-players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    
}

.captain-picks-custom-insert-team-added-player-box {
    background-color: white;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border-radius: 5px;
    margin: 5px;
}

.remove-player-box {
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;

}

.remove-player-box p {
    font-family:'Courier New', Courier, monospace;
    color: rgb(187, 187, 187);
    font-size: 1.2rem;
}

.remove-player-box:hover {
    cursor: pointer;
}


/* ADDED PLAYERS CONTAINER END */

/* RESULTS START */

#captain-picks-custom-results-container {
    width: 97%;
    min-height: 300px;
    background-color: white;
    border-radius: 15px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* RESULTS END */

/* CAPTAIN PICKS CUSTOM END */

/* CAPTAIN PICKS END*/

@media only screen and (max-width: 1080px) {

    #captain-picks-main {
        width: 98%;
    }

    #captain-picks-general-picks-container {
        flex-direction: column;

    }

    #captain-picks-general-title {
        width: 80%;
        text-align: center;
        padding: 10px;
    }

    .captain-picks-general-captain-pick {
        margin: 20px 0;
    }

    #captain-picks-custom-insert-team-container {
        flex-direction: column;
        align-items: center;

    }

    #captain-picks-custom-insert-team-input-container {
        width: 70%;
        border-right: 0;
        border-bottom: 1px solid rgb(199, 199, 199);
    }

    #captain-picks-custom-added-players-wrapper {
        width: 99%;
        margin-top: 15px;
        padding: 15px 0;
    }

    #captain-picks-custom-results-container {
        flex-direction: column;
        padding: 20px 0;
        width: 96%;
    }

    .hide-when-small-screen {
        display: none;
    }

    #captain-picks-custom-insert-team-added-players-container {
        width: 95%;
        height: 95%;
        align-items: center;
    }
    
}


