/* GENERAL START */

* {
    margin: 0;
    right: 0;
    left: 0;
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;

}

html {
    overflow-x: hidden;
}

body {
    /*background-color: #dddddd60;*/
    background-color: rgb(231, 231, 231);
    overflow: hidden;
    overflow-x: hidden;
}

#shadow-div {
    display: none;
    position: fixed;
    z-index: 997;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;

}


/* GENERAL END */

/*-----------------------------*/

/* HEADER START */

#header {
    height: 50px;
    background-color: #38003c;
    display: flex;
    position: fixed;
    margin: 0 auto;
    top: 0;
    z-index: 1000;
}

.hamburger-and-page-container {
    display: flex;
    color: white
}

.hamburger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.hamburger {
    border-radius: 5%;
    height: 29px;
    width: 29px;
    padding: 0 2px;
} 

.hamburger:hover {
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

#page-container {
    display: flex;
    align-items: center;
    width: 100px;
}

#page-container p {
    margin-left: 0;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100%;
}

/* MENU START */

#menu {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(29, 0, 29);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    transform: translateX(-251px);
    position: fixed;
    margin-top: 50px;
    z-index: 1000;

}

.menuItem {
    font-size: 1.4rem;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid rgb(138, 80, 138);
    color: #ffffff;
}

.menuItem p {
    margin-left: 8px;
}
.menuItem:hover {
    cursor: pointer;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

/* MENU END */


/* HEADER END */

/*-----------------------------*/


/* SUBHEADER START */

#subheader-main {
    background-color:  #38003c;
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;

}

#container-as-big-as-header {
    height: 50px;
    width: 100%;
}

.subheader-item {
    display: flex;
    color: white;
    width: 32.5%;
    height: 95%;
    background-color: rgb(29, 0, 29);
    /* border-top: 2px solid rgb(138, 80, 138); */
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.subheader-nextitem-container {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: none;
}



.subheader-arrow-container {
    width: 13px;
    height: 13px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.subheader-arrow-container:hover {
    cursor: pointer;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);

}

.subheader-arrow-container img {
    max-width: 100%;
    max-height: 100%;
}

/* TRANSFER DEADLINE CONTAINER START */

#transfer-deadline-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* TRANSFER DEADLINE CONTAINER END */

/* TEAMS TO WATCH CONTAINER START */

#teams-to-watch-container {
    width: 100%;
} 

#teams-to-watch-fixtures-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 88%;
}

.fixture-to-watch {
    color: black;
    border: 1.5px solid rgb(138, 80, 138);
    border-radius: 8px;
    height: 100px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 8px;
    
}

.fixture-to-watch p {
    font-size: 0.8rem;
}

/* TEAMS TO WATCH CONTAINER END */

/* DOUBLE GAMEWEEK WATCH CONTAINER START */

#double-gameweek-watch-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#double-gameweek-teams-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.double-gameweek-team-container {
    width: 60%;
    height: 60px;
    margin: 3px 0;
}

#zero-gameweek-teams-container {
    width: 50%;
    height: 100%;
}

/* DOUBLE GAMEWEEK WATCH CONTAINER END */


/* SUBHEADER END */

/* ------------------ */

/* TITLE AND DESCRIPTION START */

#title-and-description-container {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-and-description-container p{
    width: 30%;
    text-align: center;
}

/* TITLE AND DESCRIPTION END */

@media only screen and (max-width: 800px) {

    body {
        overflow: hidden !important;
        overflow-x: hidden !important;
    }

     /* SUBHEADER */

    .subheader-item {
       border-right: 0;
    }

    .subheader-nextitem-container {
        display: flex;
    }

    #subheader-item-transferdeadline {
        width: 100%;
        height: 100%;
        
    }

    #subheader-item-teamstowatch {
        visibility: hidden;
        opacity: 0;
        width: 0;
        
    }

    #subheader-item-double-gw {
        visibility: hidden;
        opacity: 0;
        /* transition: visibility 0.3s, opacity 0.5s linear; */
        width: 0;
    }
    
}

@media only screen and (max-width: 650px) {

    #remove-on-mobile-size {
        display: none;
    }

    /*  HEADER */

    #header {
        justify-content: space-between;
    }

    .title-container {
        justify-content: flex-end
    }

    .title-container h1 {
        margin-right: 10px;
        font-size: 1.6rem;
    }


}
