/* HOMEPAGE START */

/* MAIN START */

#home-main {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.home-options-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-option-container {
    color: #38003c;
    background-color: white;
    width: 450px;
    height: 350px;
    margin-bottom: 50px;
    -moz-box-shadow: 0 0 10px rgb(110, 110, 110);
    -webkit-box-shadow: 0 0 10px rgb(110, 110, 110);
    box-shadow: 0 0 10px rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    
}

.home-image-container {
    height: 60%;
    width: 100%;
    border-bottom: 1.3px solid rgb(199, 199, 199);
}

.home-image-container img {
    width: 100%;
    height: 100%;
}

.home-title-and-desc {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title-and-desc-inner {
    height: 70%;
    width: 90%;
}

.home-option-container:hover {
    cursor: pointer;

}

@media screen and (max-width: 500px) {
    #home-main {
        width: 100%;
    }

    .home-options-row {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .home-option-container {
        width: 85%;
        height: 300px;
        margin: 20px auto;
    }

  }


/* MAIN END */

/* HOMEPAGE END */